NVIDIA_API_KEY=your_nvidia_api_key_here

SNOWFLAKE_ACCOUNT=znnyxco-ug49306
SNOWFLAKE_USER=your_snowflake_username
SNOWFLAKE_PASSWORD=your_snowflake_password
SNOWFLAKE_WAREHOUSE=RAG_WH
SNOWFLAKE_DATABASE=RAG_COMPLIANCE_DB
SNOWFLAKE_SCHEMA=AUDIT_LOGS
SNOWFLAKE_ROLE=ACCOUNTADMIN
